body{
    background-color: rgba(197, 237, 255, 0.959)
}

.link{
    text-align: right;
    color: #565656;
    padding: 4px 10px;
}

h1{
    text-align: center;
    color: #565656;
    margin-top: 2px;
}

iframe{
    width: 100%;
    margin: auto;
}

/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: rgb(235, 255, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 600px;
    margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
    width: calc(100%/7);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    display: none;
    padding: 20px 20px 0;
    clear: both;
    overflow: hidden;
}


/* 選択されているタブのコンテンツのみを表示 */
#all:checked ~ #all_content,
#tabular:checked ~ #tabular_content,
#text:checked ~ #text_content,
#image:checked ~ #image_content,
#audio:checked ~ #audio_content,
#etc:checked ~ #etc_content,
#awards_points:checked ~ #awards_points_content {
    display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
background-color: #5ab4bd;
    color: #fff;
}

/* GitHub Link */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
